@model IEnumerable<gym_management_system_front_end.Models.ClientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}


<!DOCTYPE html>
<html>
<head>
    <title>Clients List</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="container">
        <h2>Clients List</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Client ID</th>
                    <th>Gym ID</th>
                    <th>Name</th>
                    <th>In Gym</th>
                    <th>Subscription Tier ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.ClientID</td>
                        <td>@item.GymID</td>
                        <td>@item.Name</td>
                        <td>@item.InGym</td>
                        <td>@item.SubscriptionTierID</td>
                        <td>
                            <a asp-action="Edit" asp-route-clientID="@item.ClientID" asp-route-gymID="@item.GymID" class="">Edit</a>
                            <a asp-action="Details" asp-route-clientID="@item.ClientID" asp-route-gymID="@item.GymID" class="">Details</a>
                            <a asp-action="Delete" asp-route-clientID="@item.ClientID" asp-route-gymID="@item.GymID" class="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

