@model IEnumerable<gym_management_system_front_end.Models.SubscriptionTiersViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<!DOCTYPE html>
<html>
<head>
    <title>Subscription Tiers List</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="container">
        <h2>Subscription Tiers List</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                SubscriptionTier ID: @item.SubscriptionTierID<br>
                                Price: @item.Price<br>
                                Length: @item.Length
                            </p>
                            <a asp-action="Edit" asp-route-id="@item.SubscriptionTierID" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.SubscriptionTierID" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
