@model List<EquipmentViewModel>


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/adminstyle.css" rel="stylesheet" />

    <title>Gym Equipment List</title>
  
</head>
<body class="mt-5 pt-5">
    <p>
        <a asp-action="Create"  class="btn btn-primary">Create New</a>
    </p>
    <div class="container">
        <h2>Equipment List</h2>
        <div class="row">
            @foreach (var equipment in Model)
            {
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="@equipment.PhotoUrl" alt="@equipment.Name" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@equipment.Name</h5>
                            <p class="card-text">
                                Equipment ID: @equipment.GymEquipmentID<br>
                                Gym ID: @equipment.GymID<br>
                                Out of Service: @equipment.OutOfService<br>
                                Quantity: @equipment.Quantity
                            </p>
                            <a asp-action="Details" asp-route-id="@equipment.GymEquipmentID" class="btn btn-primary">Details</a>
                            <a asp-action="Edit" asp-route-id="@equipment.GymEquipmentID" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@equipment.GymEquipmentID" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
