@model List<EquipmentViewModel>
@{
    
}

<div class="h-100  mh-100 my-4 pt-5 ">
    <div class="container ">
        <p>
            <a asp-action="Create" class="btn btn-success mt-5 rounded rounded-3 mx-1">
                <i class="bi bi-plus-circle me-1"></i>Create New
            </a>
        </p>
        <h2 class="mt-4"><i class="bi bi-list me-3"></i>Equipment List</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Equipment ID</th>
                    <th>Gym ID</th>
                    <th>Out of Service</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipment in Model)
                {
                    <tr>
                        <td><img src="@equipment.PhotoUrl" alt="@equipment.Name" class="img-thumbnail" style="max-width: 100px;"></td>
                        <td>@equipment.Name</td>
                        <td>@equipment.GymEquipmentID</td>
                        <td>@equipment.GymID</td>
                        <td>@equipment.OutOfService</td>
                        <td>@equipment.Quantity</td>
                        <td>
                            <div class="btn-group col-lg-5 col-md-8" role="group">
                            <a class ="btn btn-outline-primary" asp-action="Details" asp-route-id="@equipment.GymEquipmentID" class="">Details</a>
                            <a class="btn btn-outline-warning mx-3" asp-action="Edit" asp-route-id="@equipment.GymEquipmentID" class="">Edit</a>
                          
                           <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@equipment.GymEquipmentID" class="">Delete</a>
                      </div>
                       </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
