@model IEnumerable<gym_management_system_front_end.Models.SubscriptionTiersViewModel>

@{
    ViewData["Title"] = "Index";
   
}


<div class="mt-5 pt-5">
    <p class="text-end me-3 ">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="container">
        <h2>Subscription Tiers List</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SubscriptionTier ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Length</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SubscriptionTierID</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Length</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SubscriptionTierID" class="btn btn-outline-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.SubscriptionTierID" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

