@model IEnumerable<gym_management_system_front_end.Models.GymViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/gymshomepagecards.css" rel="stylesheet" />
<div class="pt-5 container-fluid">
    
        <div class="row mt-5 pt-5 justify-content-center col-10 offset-1">
            @foreach (var gym in Model)
            {
            <div class="col-lg-4 col-md-5 mb-4 g-5">
                    <div class="card clientsGyms h-100">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">
                            <img src="@gym.imageURL" />
                            <a asp-controller="Gyms" asp-action="Details" asp-route-id="@gym.GymID">
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body p-1">
                            <a asp-controller="Gyms" asp-action="Details" asp-route-id="@gym.GymID" class="text-reset">
                                <h5 class="card-title mb-3  text-primary">@gym.Name</h5>
                            </a>
                            <h6 class="mb-1"><span class="fw-bold"> Address:  </span> <span>@gym.Address</span></h6>
                            <h6 class="mb-1"><span class="fw-bold"> Max Capacity: </span> <span>@gym.MaxCapacity</span></h6>
                            <h6 class="mb-1"><span class="fw-bold"> Current Capacity: </span><span> @gym.CurrentCapacity</span></h6>
                            <h6 class="mb-1"><span class="fw-bold"> Active Hours: </span><span> @gym.ActiveHours</span></h6>
                            <h6 class="mb-1"><span class="fw-bold"> Notification:</span> <span> @gym.Notification</span></h6>
                        </div>
                        <a asp-controller="Gyms" asp-action="Details" asp-route-id="@gym.GymID" class="btn btn-lg btn-primary">CHECK DETAILS</a>
                    </div>
                </div>
            }
        </div>
    
</div>
