@model IEnumerable<gym_management_system_front_end.Models.GymViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class=" mt-5 pt-5 px-5 d-flex justify-content-center align-items-center">
    <div class="row" style=" padding-left:0px !important;">
        @foreach (var gym in Model)
        {
            <div class="card w-100 mt-3" style=" padding-left:0px !important;  padding-right:0px !important;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@gym.imageURL" class="img-fluid  w-100 h-100" style="object-fit:fill;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@gym.Name</h5>
                            <p class="card-text">
                                <span class="fw-bold">Address: </span> @gym.Address
                            </p>
                            <p class="card-text">
                                <span class="fw-bold"> Max Capacity: </span> @gym.MaxCapacity
                            </p>
                            <p class="card-text">
                                <span class="fw-bold"> Current Capacity: </span> @gym.CurrentCapacity
                            </p>
                            <p class="card-text">
                                <span class="fw-bold"> Active Hours: </span> @gym.ActiveHours
                            </p>
                            <p class="card-text">
                                <span class="fw-bold"> Notification:</span>  @gym.Notification
                            </p>
                        </div>
                            <div class="card-footer d-grid gap-2">
                                <a asp-controller="Gyms" asp-action="Details" asp-route-id="@gym.GymID" class="btn btn-lg btn-primary">CHECK DETAILS</a>
                            </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

