@model gym_management_system_front_end.Models.GymViewModel

@{
    ViewData["Title"] = "Delete";
   
}

<div class="container my-5 pt-5 col-6 offset-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Delete Gym</h3>
            <hr>
            <div class="text-center">
                <img src="@Model.imageURL" class="img-fluid" alt="Gym Image">
            </div>
            <div class="form-group row mt-4">
                <label class="col-sm-4 col-form-label text-start">Gym ID:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.GymID)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Name:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Address:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Max Capacity:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.MaxCapacity)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Current Capacity:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.CurrentCapacity)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Active Hours:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.ActiveHours)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-start">Notification:</label>
                <div class="col-sm-8 text-end">
                    @Html.DisplayFor(model => model.Notification)
                </div>
            </div>

            <div class="mt-4 text-center d-grid gap-2">
                <form asp-action="DeleteConfirmed" asp-controller="Gyms" class="d-grid gap-2">
                    <input type="hidden" asp-for="GymID" />
                    <button type="submit" class="btn btn-danger ">Delete</button>
                </form>
                <a asp-action="Index" class="btn btn-primary mt-3">Back to List</a>
            </div>
        </div>
    </div>
</div>
