@model gym_management_system_front_end.Models.GymViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_lay";
}

<h1 class="fs-2 ms-4">Details</h1>

    <div class="d-flex justify-content-center bg-Secondary col-4 offset-4 flex-column rounded-3 align-items-center shadow-md" style="background-color:#233242">
        <h4 class="my-4">GymViewModel</h4>
        <hr />
        <table class="table">
        <tr>
            <th class="text-danger">Gym ID</th>
            <td>@Html.DisplayFor(model => model.GymID)</td>
        </tr>
        <tr>
            <th class="text-danger">Name</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th class="text-danger">Max Capacity</th>
            <td>@Html.DisplayFor(model => model.MaxCapacity)</td>
        </tr>
        <tr>
            <th class="text-danger">Address</th>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
       </table>


        <div>
            @if (Model.Supplements != null)
            {
                <h4 class="mb-3">Supplements</h4>
                <ul class="list-group">
                    @foreach (var supplement in Model.Supplements)
                    {
                        <li class="list-group-item">
                            @supplement.Supplements.Name
                            @supplement.Supplements.Price
                            @supplement.Quantity
                            <a asp-action="RemoveSupplementFromGym"
                               asp-route-gymId="@Model.GymID"
                               asp-route-supplementId="@supplement.SupplementID"
                               class="btn btn-danger btn-sm">
                                Remove
                            </a>
                            <a asp-action="UpdateSupplementForGym" asp-controller="Gyms"
                               asp-route-gymId="@Model.GymID"
                               asp-route-supplementId="@supplement.SupplementID"
                               asp-route-quantity="@supplement.Quantity"
                               class="btn btn-primary btn-sm">
                                Update
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
  
        <div class="my-3 d-flex align-items-center justify-content-between">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Clients" asp-route-gymid="@Model.GymID">Get Clients</a>
        </div>

    </div>

