@model IEnumerable<gym_management_system_front_end.Models.GymViewModel>

@{
    ViewData["Title"] = "Index";
    
}

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-2 text-primary">Our Branches</h1>

            <div class="text-end mb-3">
                <a class="btn btn-success" asp-action="Create" asp-controller="Gyms">Create New</a>
            </div>

            <table class="table table-striped border">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Gym ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gym in Model)
                    {
                        <tr>
                            <th scope="row">@gym.GymID</th>
                            <td>@gym.Name</td>
                            <td>
                                <div class="btn-group " role="group">
                                    <a class="btn btn-primary" asp-controller="Gyms" asp-action="Details" asp-route-id="@gym.GymID">Details</a>
                                    <a class="btn btn-light mx-3 text-dark" asp-controller="Gyms" asp-action="Edit" asp-route-id="@gym.GymID">Edit</a>
                                    <a class="btn btn-primary" asp-controller="Gyms" asp-action="Delete" asp-route-id="@gym.GymID">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
