@model IEnumerable<gym_management_system_front_end.Models.SupplementViewModel>

@{
    ViewData["Title"] = "ClientIndex";
}



<section class="p-5 d-flex justify-content-center">
    <div class="row mt-5 d-flex justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class=" card clientsupplementcard" >
                    <img src="@item.imageURL" class="clientsupplementcard-img-top" alt="Product image">
                    <div class="clientsupplementcard-body p-4">
                        <h5 class="clientsupplementcard-title">@item.Name</h5>
                        <p class="card-text"><br><strong>Price:</strong> @item.Price.ToString("0.00") JD<br /></p>
                        <p class="clientsupplementcard-text">@item.Description</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" asp-controller="Supplement" asp-action="Details" asp-route-id="@item.SupplementID">Details</a>
                            <a class="btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.SupplementID"> Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
