@model gym_management_system_front_end.Models.SupplementViewModel

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/supplementscards.css" rel="stylesheet" />

<div class="container my-4 p-3 pt-5 mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.imageURL" class="supplement-image" alt="@Model.Name" />
        </div>
        <div class="col-md-6">
            <h1 class="supplement-title">@Model.Name</h1>
            <p class="supplement-price">Price: @Model.Price.ToString("0.00") JD</p>
            <p class="supplement-description">@Model.Description</p>
            <div class="d-grid gap-2 my-4" style="position: relative;">
                <a asp-action="ClientIndex" class="btn btn-secondary" style="position: absolute;  ; left: 50%; transform: translateX(-50%);">Back to List</a>
            </div>
        </div>
    </div>
</div>
