@model gym_management_system_front_end.Models.SupplementViewModel

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/supplementscards.css" rel="stylesheet" />

<div class="container my-4 p-3 pt-5 mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto pt-2">
            <div class="card bg-dark">
                <img src="@Model.imageURL" class="card-img-top supplement-image" alt="@Model.Name" style="width: 100%; height: auto;background-color: white; padding: 15px;" />
                <div class="card-body text-white">
                    <h1 class="card-title">@Model.Name</h1>
                    <p class="card-text">Price: <span style="color: green;">@Model.Price.ToString("0.00") JD</span></p>
                    <p class="card-text">@Model.Description</p>
                    <div class="d-flex justify-content-between align-items-center my-4">
                        <a asp-action="ClientIndex" class="btn bold-btn btn-secondary rounded-pill ">Back to List</a>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.SupplementID" class="btn bold-btn btn-warning ">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
