@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    var gymList = new SelectList(ViewBag.gymList, "GymID", "Name");
}



<div class="mt-5 pt-5">
    <div class="form-div mt-3">
        <form method="Post" asp-controller="Employees" asp-action="GetEmployeesByGymId" class="form-emp-T">
            <div class="flex-form-div">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-group mb-1">
                        <label for="gymId" class="control-label">Choose A Gym</label>
                        <select class="form-select mt-1" asp-items="@gymList" id="gymId" name="gymId">
                            <i class="bi bi-caret-down"></i>
                        </select>
                    </div>
                    
                        <input type="submit" value="Search" class="btn-primary px-3 rounded-3 py-1 ms-2 mt-4" />
                    
                </div>
                
            </div>
        </form>
    </div>
    @if (ViewBag.Employees == "All")
    {
        <h3 class="text-center">All Employees</h3>
    }
    else
    {
        <h3 class="text-center">@ViewBag.gymName</h3>
    }
    <div class="table-cont col-8 offset-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Details</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <th scope="row">@employee.EmployeeID</th>
                        <td>@employee.Name</td>
                        <td>
                            <a class="" asp-controller="Employees" asp-action="GetEmployee" asp-route-id="@employee.EmployeeID">Details</a>
                        </td>
                        <td>
                            <a class="" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.EmployeeID">Edit</a>
                        </td>
                        <td>
                            <a class="Delete" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.EmployeeID" onclick="return confirm('Are You Sure that You Want To Delete The Employee @employee.Name  ?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
