@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee Details";
}

<div class="col-8 offset-2 text-white mt-5 pt-5">
    <h2 class=" text-center text-danger">@Model.Name</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Employee ID</th>
                <td>@Model.EmployeeID</td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td>@Model.JobDescription</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>@Model.Salary</td>
            </tr>
            <tr>
                <th>GymID</th>
                <td>@Model.GymID</td>
            </tr>
            <tr>
                <th>Is Available</th>
                <td>@Model.IsAvailable</td>
            </tr>
            <tr>
                <th>Working Days</th>
                <td>@Model.WorkingDays</td>
            </tr>
            <tr>
                <th>Working Hours</th>
                <td>@Model.WorkingHours</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="d-flex justify-content-center">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EmployeeID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
