@model EmployeeViewModel

@{
    ViewData["Title"] = "Employee Details";
}



<div>
    <h2>@Model.Name</h2>

    <dl class="row">
        <dt class="col-sm-2">
           <label asp-for="EmployeeID"> Employee ID</label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="EmployeeID"> @Model.EmployeeID</label>

        </dd>
        <dt class="col-sm-2">
            <label asp-for="JobDescription"> Job Description</label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="EmployeeID"> @Model.JobDescription</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Salary"> Salary</label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="Salary"> @Model.Salary</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="GymID"> GymID</label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="GymID"> @Model.GymID</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsAvailable"> Is Available</label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="IsAvailable"> @Model.IsAvailable</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="WorkingDays"> Working Days </label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="WorkingDays"> @Model.WorkingDays</label>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="WorkingHours"> Working Hours </label>
        </dt>
        <dd class="col-sm-10">
            <label asp-for="WorkingHours"> @Model.WorkingHours</label>
        </dd>
     </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EmployeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
